@model FIT5032_assignment.Models.ApplienceShowViewModel

@{
    ViewBag.Title = "ApplienceShowViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApplienceShowViewModel</h2>

<div>
    <h4>ApplienceShowViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.applienceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applienceName)
        </dd>

        <dt>
            Img:
        </dt>

        <dd>

            <img src="~/Img/default400.jpg" />
            <!-- <img src="@Html.DisplayFor(model=>model.imgUrl).ToString()" />-->

        </dd>
        <dd>
            <img src="~/Img/default400.jpg" srcset="/Img/default600.jpg 1.5x,
                                                    /Img/default800.jpg 2x" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
